<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('SignIn.static', filename='css/SignIn.css') }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>דף התחברות</title>

  <style>
    body {
      background-image:url('{{url_for('SignIn.static', filename='media/background.jpeg')}}');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
</head>

<body>

  <div class="login-box">
    <h2>התחברות</h2>
    <form>
      <div class="user-box">
        <label for="signIn_Email">כתובת דוא"ל:</label><br>
        <input type="email" id="signIn_Email" name="" required=""><br>

      </div>
      <div class="user-box">
        <label for="signIn_password">סיסמא:</label><br>
        <input type="password" id="signIn_password" name="" required=""><br>

      </div>
      <div id="signInSumbit">
        <button type="submit" onclick="location.href='Tournaments-main.html'" >התחברות</button>
      </div>
        <a href="/">logout</a>
    </form>
  </div>


</body>

</html>