@import "variables.css";

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: var(--xsite-font-family);
      display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}
