{% extends 'base.html' %}

{% set page_head_title = 'TournamentsCreate' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
 <div id="tournament-header">
                <h1>טורנירים</h1>
                <h2>יצירת טורניר</h2>
 </div>
            <div id="tournament-main">
               <div class="contact-box">
                    <form >
                        <div>
                            <label class ="labels" for="tournamentName">שם:</label>
                            <input type="text" class="field" id="tournamentName" placeholder="שם הטורניר" required>

                            <label for="tournamentDate">תאריך:</label>
                            <input type="date" class="field" id="tournamentDate">

                            <label for="tournamentLocation">מיקום:</label>
                            <input type="text" class="field" id="tournamentLocation" placeholder="מיקום" required><br>

                            <label>סוג טורניר:</label>
                            <input type="text" class="field" list="tournamentType" placeholder="בחר מרשימה" required>
                                <datalist id="tournamentType">
                                    <option value="אזורי">
                                    <option value="ארצי">
                                </datalist>

                            <label>עונה:</label>
                            <input type="text" class="field" list="tournamentSeason" placeholder="בחר מרשימה" required>
                                <datalist id="tournamentSeason">
                                    <option value="אמצע">
                                    <option value="סוף">
                                </datalist><br>

                            <label>פרטים נוספים:</label><br>
                            <textarea id="comment" class="field" name="comment" cols="100" rows="4"></textarea><br>
                            <button type="submit">צור טורניר</button>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('TournamentsCreate.static', filename='js/TournamentsCreate.js') }}"></script>
{% endblock %}